
  <div class="card-group mt-2">
    <div
      class="col-lg-6 my-3 wow fadeIn animated"
      data-wow-delay=".15s"
      style="
        visibility: visible;
        animation-delay: 0.15s;
        animation-name: fadeIn;
      "
    >
      <a
        href="/portfolYOU/blog/digital-minimalism"
        class="post card border border-"
      >
        <div class="card-body text-themed">
          <h3 class="card-title">RESTful API with .Net Core</h3>
          <p class="card-text">
            <span class="badge badge-dark ml-1">.Net Core</span>

            <span class="badge badge-dark ml-1">API</span>

            <span class="badge badge-dark ml-1">RESTful</span>
          </p>
          <p class="card-text">
            How to build a RESTful API with .Net Core.
          </p>
        </div>
        <div class="card-footer text-themed">20 May 2021</div>
      </a>
    </div>
  </div>
