<div class="container card-columns n-3 mt-5">

  <div class="wow fadeIn animated" data-wow-delay=".15s" style="visibility: visible; animation-delay: 0.15s; animation-name: fadeIn;">
    <a href="https://github.com/lucasbonanni/relevamiento-visual" class="project card text-themed"><div class="card-body">
      <h5 id="git-for-wizards-name" class="card-title">
    <i class="fab fa-github" data-toggle="tooltip" data-placement="bottom" data-delay="250" title="" data-original-title="GitHub Repository"></i> |&nbsp;Visual Survey
      </h5>
      <p id="git-for-wizards-desc" class="card-text">An Visual survey build with Ionic framwork</p>
      <p id="git-for-wizards-tools" class="card-text">
        <span class="badge badge-pill text-primary border border-primary ml-1">github</span>
        <span class="badge badge-pill text-primary border border-primary ml-1">git</span>
        <span class="badge badge-pill text-primary border border-primary ml-1">Ionic</span>
    </div>
    </a>
  </div>

</div>
