<div class="col-md-10 mx-auto mt-5 post">
    <h1 id="about-me">About me</h1>
    <p>Hi I'm Lucas,</p>
    <p>I was born in Argentina, I love programming. My first contacts with programming I remember it was in elementary school with Logo, then later in high school with VBA. Later I started to like it and started a course on Delphi CDs.</p>
    <p>I left programming for a few years, I dedicated myself to study and then to work and dedicate myself to computer science, and finally, I returned to programming again learning on my own with a C and C ++ book.</p>
    <p>Later I decided to study and learn more and started the programming technician at the National Technological University where I could learn much more about programming.</p>
    <p>I always liked informatics and computing and everything related, I studied networks, I dedicated myself to learning Linux administration and I love to continue learning and how to automate processes.</p>
    <p>I am always looking for new challenges, new knowledge, in that way I also did an Ethical Hacking training in which I used my knowledge in python to perform a scan of a network in search of different services in a network.</p>
    
    <p>Lucas</p>

    <div class="row" [hidden]="disableSkills">
        <div class="col-lg"  *ngFor="let skilltype of skillTypes">
            <h2 class="mb-3">{{  skilltype.title}}</h2>
        
            <div class="skill" *ngFor="let skill of skilltype?.skills">
                <div class="row justify-content-between align-items-center">
                    <div class="col-10">
                    <p class="mb-1">{{skill.name}} </p>
                    </div>
                    <div class="col-2 text-right">
                    <p class="mb-1 text-muted">{{skill.percentage }}%</p>
                    </div>
                </div>
                <div class="skill-bar skill-bar-{{skill.color}} skill-{{skill.percentage}} wow animated slideInLeft"
                    data-wow-delay=" 1 | divided_by: 20.0 ">
                </div>
            </div>
        
        </div>
    </div>
</div>
